<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<!-- HEAD -->
<head>
<title>Human Resources Management Console</title>
<meta charset="utf-8">
<link rel="stylesheet" th:href="@{/css/main.css}" />
</head>

<body>

	<!-- MAIN-CONTENT -->
	<h2>Cities</h2>

	<div class="list-all" style="width: 450px;">
		<table>
			<tr>
				<th>Id</th>
				<th>Name</th>
				<th>Voivodeship</th>
				
			</tr>

			<th:block th:each="city : ${cities}">
				<tr>
					<td th:text="${city.id}">ID</td>
					<td><a th:href="@{/cities/} + ${city.id}" th:text="${city.name}">NAME</a></td>
					<td th:text="${city.voivodeship}">VOIVODESHIP</td>
				</tr>
				
			</th:block>

		</table>
	</div>
<br>

<div>
  <p><a th:href = "@{/}"><input type="button" value="Main Menu" ></a></p>
</div>
</body>

</html>
