<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<!-- HEAD -->
<head>
  <title>Human Resources Management Console</title>
  <meta charset="utf-8">
  <link rel="stylesheet" th:href="@{/css/main.css}" />
</head>

<body>

<!-- MAIN-CONTENT -->
<h2>Employee</h2>
  
<div class="display-one" th:object="${employee}">
  <table>
    <tr>
      <td>Id</td>           <td th:text = "*{id}">ID</td>
    </tr>
    <tr>
      <td>First name</td>   <td th:text = "*{firstName}">FIRST NAME</td>
    </tr>
    <tr>
      <td>Last name</td>    <td th:text = "*{lastName}">LAST NAME</td>
    </tr>
    <tr>
      <td>Hire date</td>    <td th:text = "*{hireDate}">HIRE DATE</td>
    </tr>
    <tr>
      <td>Salary</td>       <td th:text = "*{salary}">SALARY</td>
    </tr>
    <tr>
      <td>Position</td>     <td th:text = "*{position.name}">POSITION</td>
    </tr>
    <tr>
      <td>Department</td>   <td th:text = "*{department.name}">DEPARTMENT</td>
    </tr>
    <tr>
      <td>Branch</td>    <td th:text = "*{branch.name}">BRANCH</td>
    </tr>
    <tr>
      <td>Job grade</td>    <td th:text = "*{jobGrade.name}">JOB GRADE</td>
    </tr>
  </table>
</div>

<br>

<div>
  <a th:href = "@{/employees/form/} + ${employee.id}"><input type="button" value="Update" ></a>
  <a th:href = "@{/employees/delete/} + ${employee.id}"><input type="button" value="Delete" ></a>
  <a th:href = "@{/employees}"><input type="button" value="Back to all employees" ></a>
  <p><a th:href = "@{/}"><input type="button" value="Main Menu" ></a></p>
</div>

</body>

</html>
